#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\FrontModule\Model\SessionManager
	- App\FrontModule\Model\UserManager
	- App\FrontModule\Model\UserRoleManager
	- App\FrontModule\Model\DeviceManager
	- App\FrontModule\Model\DeviceTypeManager
	- App\FrontModule\Model\ShootManager
	- App\FrontModule\Model\ResultManager
	- App\FrontModule\Model\PlanManager
	- App\FrontModule\Model\RepeateStartManager
	- App\FrontModule\Model\RepeateEndManager

	- App\FrontModule\Forms\FormFactory
	- App\FrontModule\Forms\SignInFormFactory
	- App\FrontModule\Forms\SignUpFormFactory
	- App\FrontModule\Forms\UserEditFormFactory
	- App\FrontModule\Forms\UserAddFormFactory
	- App\FrontModule\Forms\DeviceAddFormFactory
	- App\FrontModule\Forms\DeviceEditFormFactory
	- App\FrontModule\Forms\ShootAddFormFactory
	- App\FrontModule\Forms\ResultToleranceFormFactory
	- App\FrontModule\Forms\ResultIgnoreFormFactory
	- App\FrontModule\Forms\PlanAddFormFactory
	- App\FrontModule\Forms\PlanEditFormFactory

	router: App\RouterFactory::createRouter

extensions:
    cronner: stekycz\Cronner\DI\CronnerExtension
    tbDateTimePicker: RadekDostal\NetteComponents\DateTimePicker\TbDateTimePicker\DI\TbDateTimePickerExtension

tbDateTimePicker:
    format: j. n. Y H:I

cronner:
    timestampStorage: stekycz\Cronner\TimestampStorage\FileStorage(%wwwDir%/temp/cronner)
