// ---------------------------------------------------------------------------------------------------------------------
// Compare result
// ---------------------------------------------------------------------------------------------------------------------

.compare-result {
   .compare-source {
      margin: 20px 0;
   }
   .compare-target {
      margin: 20px 0;
   }
   .compare-result {
      margin: 20px 0;
   }

   h2 {
      @include link($azure, $azure, false);
   }

   .change-color {
      .color-red {
         i {
            color: rgb(255, 0, 0);
         }
      }
      .color-green {
         i {
            color: rgb(0, 255, 0);
         }
      }
      .color-blue {
         i {
            color: rgb(0, 0, 255);
         }
      }
      .color-yellow {
         i {
            color: rgb(255, 255, 0);
         }
      }
   }

   .image {
      margin-bottom: 20px;
      a {
         @include transition(all $transition-effect-speed ease-in-out);
         display: block;
         position: relative;
         overflow: hidden;
         height: 400px;
         border: 1px solid #ddd;
         @include border-radius(0.25rem);
         .img-thumbnail {
            border: none;
         }
         img[alt] {
            border: none;
         }
         &:hover {
            border: 1px solid $azure;
         }
      }
   }

   //xs
   @include media-breakpoint-between(xs, sm) {

   }

   //sm
   @include media-breakpoint-between(sm, md) {

   }

   //md
   @include media-breakpoint-between(md, lg) {

   }

   @include media-breakpoint-up(md) {

   }

   //lg
   @include media-breakpoint-up(lg) {

   }
}