{extends '../@index.latte'}



{block header}
   <header>
      <h1 n:block=title>Plan cron</h1>
   </header>
{/block}

{block breadcrumbContent}
   <li class="breadcrumb-item"><a n:href="Plan:settings">Plan settings</a></li>
   <li class="breadcrumb-item active">Plan cron</li>
{/block}

{block content}
   <div class="container">

      >php index.php
      <br>
      run from console


   </div>
{/block}
