// ---------------------------------------------------------------------------------------------------------------------
// Header
// ---------------------------------------------------------------------------------------------------------------------

header {
   &.homepage {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .inner {
         margin-top: rem(-80px);
         i {
            font-size: 50px;
            color: $azure;
            animation: scaleAnimation 20s infinite linear;
         }
         h1 {
            padding-bottom: rem(15px);
         }
         a {
            margin: rem(40px) 0;
         }
      }
   }
   &.index {
      margin-top: rem(75px);
   }

   @include media-breakpoint-between(xs, sm) {
      margin-top: rem(75px);
   }
}

@keyframes scaleAnimation {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.4);
   }
   100% {
      transform: scale(1);
   }
}


