{extends '../@index.latte'}

{* Shoot:my *}

{block header}
   <header>
      <h1 n:block=title>My web shoots</h1>
   </header>
{/block}

{block breadcrumbContent}
   <li class="breadcrumb-item active">My web shoots</li>
{/block}

{block content}
   <div class="container">
      <div class="shoot-my">
         <div class="row">
            <div class="col-xs-12">

               {*{control deviceAddForm}*}

            </div>
         </div>
      </div>
   </div>
{/block}