// ---------------------------------------------------------------------------------------------------------------------
// Shoot list
// ---------------------------------------------------------------------------------------------------------------------

.shoot-list {
   .shoot-new {
      margin: rem(20px) 0;
   }
   .change-view {
      text-align: center;
      margin-bottom: 20px;
   }
   .shoot-item {
      h3 {
         @include link($azure, $azure, false);
      }
      .image {
         text-align: center;
         a {
            @include transition(all $transition-effect-speed ease-in-out);
            &:hover {
               .img-thumbnail {
                  border: 1px solid $azure;
               }
            }
         }
      }
      a:not(.btn) {
         @include link($azure, $azure, false, false);
      }

      &.view-lg {
         .image {
            a {
               display: block;
               position: relative;
               overflow: hidden;
               height: 400px;
               border: 1px solid #ddd;
               @include border-radius(0.25rem);
               .img-thumbnail {
                  border: none;
               }
               &:hover {
                  border: 1px solid $azure;
               }
            }
         }
      }

      &.view-md {
         .image {
            a {
               display: block;
               position: relative;
               overflow: hidden;
               height: 450px;
               border: 1px solid #ddd;
               @include border-radius(0.25rem);
               .img-thumbnail {
                  border: none;
               }
               &:hover {
                  border: 1px solid $azure;
               }
            }
         }
      }

      &.view-sm {
         .image {
            a {
               display: block;
               position: relative;
               overflow: hidden;
               height: 200px;
               border: 1px solid #ddd;
               @include border-radius(0.25rem);
               .img-thumbnail {
                  border: none;
               }
               &:hover {
                  border: 1px solid $azure;
               }
            }
         }
      }

      &.view-xs {
         .image {
            a {
               display: block;
               position: relative;
               overflow: hidden;
               width: 60px;
               height: 60px;
               border: 1px solid #ddd;
               @include border-radius(0.25rem);
               .img-thumbnail {
                  border: none;
               }
               &:hover {
                  border: 1px solid $azure;
               }
            }
         }
         .table {
            margin: 20px 0;
            tr {
               td {
                  vertical-align: middle;
               }
            }
         }
      }

   }

   hr {
      border: 0;
      height: 4px;
      background: $iron;
   }

   //xs
   @include media-breakpoint-between(xs, sm) {
      .shoot-item {
         .image {
            margin-bottom: 20px;
         }
         .table {
            width: 100%;
         }

         &.view-xs {
            .image {
               margin-bottom: 0;
            }
         }
      }
   }

   //sm
   @include media-breakpoint-between(sm, md) {
      .shoot-item {
         .image {
            margin-bottom: 20px;
         }
         .table {
            width: 100%;
            &:first-child {
               margin-bottom: 20px;
            }
         }

         &.view-xs {
            .image {
               margin-bottom: 0;
            }
         }
      }
   }

   //md
   @include media-breakpoint-between(md, lg) {
      .shoot-item {
         @include change-gutter(5px);
         .image {
            margin-bottom: 20px;
         }
         .table {
            width: 100%;
         }

         &.view-xs {
            .image {
               margin-bottom: 0;
            }
         }
      }
   }

   //lg
   @include media-breakpoint-up(lg) {
      .shoot-item {
         .image {
            margin-bottom: 20px;
         }
         .table {
            width: 100%;
         }

         &.view-xs {
            .image {
               margin-bottom: 0;
            }
         }
      }
   }
}